:root{
    --corbackground:#45dbfc;
    --corrodape:#04133d;
    --corfont:#383838;
    --corfont3: #fff;
}

/* Estilo Geral Obs: Também pode ser feito com *{} */
html, img, body, div, input, textarea, a,h1, h2, h3,h4,h5,h6, ul, li, p, main {
   margin: 0;
   padding: 0%;
   box-sizing: 0;
   list-style: none;
   text-decoration: none;

}


div.container{
   margin: 10;
   padding: 1%;
   box-sizing: 0;
}

.coluna{
    flex-basis: 50%;
}

.hidden {
    display: none;
}

/* body */
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

/* header */
header{
    background-color:var(--corbackground);
    padding: 30px 30px 0px;
}
header .container{
    background-color: #fff;
}

header .linha{
    align-items: center;
}
header .coluna-direita{
    flex-basis: 70%;
    text-align: center;
}
header .coluna-esquerda {
    flex-basis: 30%;
    
}
header .coluna img {
    border-radius: 100%;
    max-width: 100%;
}

header .coluna p {
    font-size: 1rem;
    color: var(--corfont);
}
header .coluna ul {
    margin: 10px 0px;
}
header .coluna ul li {
    margin: 10px 0px;
}
header .coluna ul li a {
    font-size: 1rem;
    color:var(--corfont2);
} 

/* footer */
footer {
    background-color:var(--corrodape);
}

footer nav ul li{
    color:white;
}
footer nav ul li a {
    color:white;
}

footer nav .info-contato li{
    margin: 0 0 15px;
}


/* pagina inicial */
main .coluna section{
    margin: 2px;
    padding: 10px;
    min-height: 125px;
}

main .coluna section h2{
    font-size: 1.5rem;
   
}

main .coluna section p{
    font-size: 0.9rem;
    color: var(--corfont);
    line-height: 1.5;
    margin-top: 5px;
}
main .coluna section ul li{
    font-size: 0.9rem;
    color: var(--corfont);
    margin: 8px 0px;
}

/* extras */
.pul{
    margin-bottom: 1rem;
}

header .container{
    position:relative
}

label{
    position: absolute;
    top: 030px;
    right: 30px;
    width: 52px;
    height: 30px;
    background-color: var(--corrodape);
    border-radius: 20px;
    padding: 5px 5px;
    box-sizing: border-box;
    cursor: pointer;
}


span{
    width:20px;
    height: 20px;
    display: block;
    background-color: var(--corbackground);
    border-radius: 100%;
    transition: .2s;
}
/* ativar e desativar o modo noturno
atravás de input no html com checkbox */
input{
    width:50px;
    height: 50px;
    display:none;
}

.ativar-dark:checked ~ .darkmode label{
    background-color: white;

}

.ativar-dark:checked ~ .darkmode label span{
    background-color: black;
    margin-left: 20px;
    background-color:#45dbfc;

}

.ativar-dark:checked ~ .darkmode{
    --corbackground:black;
    --corrodape:black;
    --corfont:white;
    --corfont2: white;
    --cabeçalho:rgb(47, 47, 47);
}

.ativar-dark:checked ~ .darkmode main{
    background-color:var(--corbackground);
    color:var(--corfont);
} 

.ativar-dark:checked ~ .darkmode header{
    background-color:var(--corbackground);
    }

.ativar-dark:checked ~ .darkmode .container {
    background-color:var(--cabeçalho);
}


/* @media */
@media screen and (min-width:768px) {
    
    .linha {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    }

    header .coluna img {
    border-radius: 10%;
    max-width: 250px;
    }

    header{
    padding-top: 30px;
    }

    .container{
    width:100%;
    max-width: 1125px;
    margin: 0 auto;
    padding: 30px;
    }
}


@media only screen and (min-width:768px){

    header .coluna-direita{
        flex-basis: 60%;
        text-align: left;
    }
} 
